<mat-toolbar class="toolBar">

  <span class="txt">LOGO</span>
  <span class="space"></span>
  <div class="input-container col-lg-4">
    <i class="material-icons eye1" matprefix>search</i>
    <input class="input-field " type="text" placeholder="Search" type="text">
  </div>
  <button class="Registrieren " title="Registrieren">
    <!-- Registrieren -->
    <mat-icon>person</mat-icon>

  </button>
  <button class="Anmelden" title="Anmelden">
    <!-- Anmelden -->
    <mat-icon>input</mat-icon>
  </button>
</mat-toolbar>

<div>
  <ngx-horizontal-scroll-menu [background]="background" [linkLabel]="'link'" [text]="text" [distance]="distance">
  </ngx-horizontal-scroll-menu>

</div>

<div style="padding-top: 1%;">
  <ngx-horizontal-scroll-menu [background]="background1" [linkLabel]="'link'" [text]="text1" [distance]="distance">
  </ngx-horizontal-scroll-menu>

</div>


