<mat-toolbar class="heading">
  <span
    ><img src="../../../assets/Images/Logo.png" alt="" style="width: 25px"
  /></span>
  <span
    ><b> {{ "header.main_title" | translate }}</b></span
  >
  <span class="example-spacer"></span>
  <div class="NavBarCategory">
    <span class="navbarTitles"> Live Betting </span>
    <span class="navbarTitles"> Sports Betting</span>
    <span class="navbarTitles"> Games </span>
  </div>

  <span class="example-spacer"></span>

  <button
    mat-mini-fab
    color="warn"
    class="example-icon"
    aria-label="Example icon-button with share icon"
    *ngIf="authenticated == true"
    [matMenuTriggerFor]="userInfo"
    (click)="setUserData()"
  >
    <mat-icon>person</mat-icon>
  </button>
  <button mat-raised-button *ngIf="authenticated == false" class="loginBtn">
    {{ "header.logInButton" | translate }}
  </button>
  <button
    mat-raised-button
    color="warn"
    *ngIf="authenticated == false"
    class="registerBtn"
  >
    {{ "header.registerButton" | translate }}
  </button>
</mat-toolbar>

<div class="MainTextDiv">
  <h2>{{ "header.mainTextDivTitle" | translate }}</h2>
  <p>
    {{ "header.mainTextDivParagraph" | translate }}
  </p>
</div>

<div class="SliderContainer">
  <ngb-carousel
    [showNavigationArrows]="true"
    [showNavigationIndicators]="true"
    [keyboard]="true"
    [interval]="2000"
    [pauseOnHover]="true"
    [wrap]="true"
    [activeId]="'sliderThree'"
  >
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          src="https://wallpapercave.com/wp/wp5623021.jpg"
          alt="Carousel Two"
          style="width: 100%; object-fit: cover"
          class="SliderImage"
        />
      </div>
    </ng-template>
    <ng-template ngbSlide *ngFor="let i of sliderData">
      <div class="picsum-img-wrapper">
        <img
          [src]="i.Img"
          alt="Carousel One"
          style="width: 100%; object-fit: cover"
          class="SliderImage"
        />
      </div>
    </ng-template>
  </ngb-carousel>
</div>

<mat-toolbar class="SubHeading">
  <div style="width: 50%" class="ngx-horizontal-scroll-menu">
    <ngx-horizontal-scroll-menu
      (click)="settingHorizontalMenuData()"
      *ngIf="items.length > 0"
      [background]="background"
      [linkLabel]="'link'"
      [text]="text"
      [distance]="distance"
      [items]="items"
    >
    </ngx-horizontal-scroll-menu>
  </div>

  <span class="example-spacer3"></span>

  <button
    class="FavouriteButton"
    mat-stroked-button
    (click)="getFavouriteGame()"
  >
    <mat-icon style="color: yellow">star</mat-icon>
    {{ "header.favoriteButton" | translate }}
  </button>
  <input
    type="text"
    style="height: 28px; border-radius: 5px"
    (keypress)="updateSearchKeyword($event)"
    (keydown)="updateSearchKeyword($event)"
    class="searchInput"
  />
  <!-- <mat-icon style="color: yellow">star</mat-icon></input> -->
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>search</mat-icon>
  </button>
</mat-toolbar>
<mat-toolbar class="CategoryProviderBar">
  <button mat-button [matMenuTriggerFor]="Categories">Categories</button>
  <button mat-button [matMenuTriggerFor]="Providers">Game Provider</button>
</mat-toolbar>

<mat-menu #Providers="matMenu">
  <button
    mat-menu-item
    *ngFor="let i of gamesProviderData"
    (click)="getGamesByProviders(i.ProviderName,i.ProviderId)"
  >
    {{ i.ProviderName }}
  </button>
</mat-menu>
<mat-menu #Categories="matMenu">
  <button
    mat-menu-item
    *ngFor="let i of categoriesData"
    (click)="getGamesByCategory(i.CatergoryName)"
  >
    {{ i.CatergoryName }}
  </button>
</mat-menu>

<mat-menu #userInfo="matMenu">
  <button mat-menu-item>
    Hi! <b>{{ userData?.username }}</b>
  </button>
  <button mat-menu-item>
    <b>Balance:</b><b class="Status Ship">{{ userData?.balance }} {{ userData?.currency }}</b>
  </button>
  <button mat-menu-item>
    <b class="Status Cancel">LogOut</b>
  </button>
</mat-menu>
