
  

  $bgcolor: #000000 !important;
$logotextcolor: #ca0000;
$logofontsize: 24px;


.toolBar{
    background-color: $bgcolor;
    box-shadow: black;
    box-shadow: 4px 4px 4px #E7E7E7;
    height: 70px;
  }

.txt{
    color:$logotextcolor ;
    font-size: $logofontsize;
}
  .space{
        flex: 1 1 auto;
      }
      
  .Registrieren{
      // padding: 5px;
      margin: 5px;
      background-color: #ed1c24;
      color: white;
      border-color: #ed1c24;
      border-radius: 5px;
      cursor: pointer;

  }
  .Anmelden{
    // padding: 5px;
    margin: 5px;
    background-color:transparent;
    border-color: #000000;
    color: white;
    cursor: pointer;

}

.input-container {
  display: -ms-flexbox; 
  display: flex;
  margin: 5px;

  // width: 100%;
  // transform: translate(0px,-20px) !important;
}
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  // height: 40px !important;
    /* border-radius: 20px; */
border:  1px solid rgb(255, 255, 255);
background-color: white;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;

}

.eye1{
  padding: 5px;
  color: black;
  width: 14px;
  text-align: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 2px solid rgb(255, 255, 255);
  background-color: white;
  // height: 40px !important;

}


mat-grid-tile {
  background: rgb(255, 255, 255);
}

.btn-group button {
  // background-color: #000000; /* Green background */
  // border: 1px solid rgb(0, 0, 0); /* Green border */
  color: white; /* White text */
  // padding: 5px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  // width: 20%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #000000;
}

.mine{
  position: fixed;
    bottom: 20px;
    right: 10px;
    background-color: red;
}


.container1 {
  position: relative;
  width: 50%;
  background-color: red;
  cursor: pointer;

}

.image {
  opacity: 1;
  display: block;
  // width: 100%;
  // height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  
}

.container1:hover .image {
  opacity: 0.3;

}

.container1:hover .middle {
  opacity: 1;
  
  
}

.text {
  color: white;
  font-size: 22px;
  padding: 16px 32px;
}
.border-radius{
  border-radius: 5px;
}