.BottomContainer {
    display: flex;
    flex-wrap: wrap;
    //   border: 10px solid black;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 10px;
    flex-direction: row;
  }
  app-home{
      width: 85%;
  }