<div style="padding: 5px;"></div>
<mat-grid-list style="margin:10px; border-radius: 5px;" [cols]="breakpoint" rowHeight="200"
  (window:resize)="onResize($event)" gutterSize="10px">
  <mat-grid-tile class="container1 border-radius">

    <img src="/assets/images/img4.png" class="image" height="100%" width="100%">
    <div class="middle">
      <div class="text">
        <mat-icon>play_circle_filled</mat-icon>
        Play
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="container1 border-radius">

    <img src="/assets/images/img3.jpg" class="image" height="100%" width="100%">
    <div class="middle">
      <div class="text">
        <mat-icon>play_circle_filled</mat-icon>
        Play
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="container1 border-radius">

    <img src="/assets/images/img5.jpg" class="image" height="100%" width="100%">
    <div class="middle">
      <div class="text">
        <mat-icon>play_circle_filled</mat-icon>
        Play
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="container1 border-radius">

    <img src="/assets/images/img4.png" class="image" height="100%" width="100%">
    <div class="middle">
      <div class="text">
        <mat-icon>play_circle_filled</mat-icon>
        Play
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="container1 border-radius">

    <img src="/assets/images/img3.jpg" class="image" height="100%" width="100%">
    <div class="middle">
      <div class="text">
        <mat-icon>play_circle_filled</mat-icon>
        Play
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="container1 border-radius">

    <img src="/assets/images/img5.jpg" class="image" height="100%" width="100%">
    <div class="middle">
      <div class="text">
        <mat-icon>play_circle_filled</mat-icon>
        Play
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="container1 border-radius">

    <img src="/assets/images/img4.png" class="image" height="100%" width="100%">
    <div class="middle">
      <div class="text">
        <mat-icon>play_circle_filled</mat-icon>
        Play
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="container1 border-radius">

    <img src="/assets/images/img3.jpg" class="image" height="100%" width="100%">
    <div class="middle">
      <div class="text">
        <mat-icon>play_circle_filled</mat-icon>
        Play
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="container1 border-radius">

    <img src="/assets/images/img5.jpg" class="image" height="100%" width="100%">
    <div class="middle">
      <div class="text">
        <mat-icon>play_circle_filled</mat-icon>
        Play
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="container1 border-radius">

    <img src="/assets/images/img4.png" class="image" height="100%" width="100%">
    <div class="middle">
      <div class="text">
        <mat-icon>play_circle_filled</mat-icon>
        Play
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="container1 border-radius">

    <img src="/assets/images/img3.jpg" class="image" height="100%" width="100%">
    <div class="middle">
      <div class="text">
        <mat-icon>play_circle_filled</mat-icon>
        Play
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="container1 border-radius">

    <img src="/assets/images/img5.jpg" class="image" height="100%" width="100%">
    <div class="middle">
      <div class="text">
        <mat-icon>play_circle_filled</mat-icon>
        Play
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="container1 border-radius">

    <img src="/assets/images/img4.png" class="image" height="100%" width="100%">
    <div class="middle">
      <div class="text">
        <mat-icon>play_circle_filled</mat-icon>
        Play
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="container1 border-radius">

    <img src="/assets/images/img3.jpg" class="image" height="100%" width="100%">
    <div class="middle">
      <div class="text">
        <mat-icon>play_circle_filled</mat-icon>
        Play
      </div>
    </div>
  </mat-grid-tile>



</mat-grid-list>

<button class="mine" mat-fab title="My favaorate game">
  <mat-icon style="color: yellow;">star</mat-icon>
</button> -->