/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.background {
    background-color: #ff0000;
}

.text-style {
    color: white;
    font-size: larger;
    text-decoration: none;
}
.text-style:hover {
    color:#ffffff;
    font-size: larger;
    text-decoration: none;
    font-weight: bold;
    // transition: .5s ease;

}

.background1 {
    background-color: #f5f5f5;
}

.text-style1 {
    color: rgb(0, 0, 0);
    font-size: larger;
    text-decoration: none;
    // transition: .5s ease;

}

.text-style1:hover {
    color:#ff0000;
    font-size: larger;
    text-decoration: none;
    font-weight: bold;
    // transition: .5s ease;

}