/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.background {
    background-color: #ff0000;
}

.text-style {
    color: white;
    font-size: larger;
    text-decoration: none;
}


.background1 {
    background-color: #ffffff;
}

.text-style1 {
    color: rgb(0, 0, 0);
    font-size: larger;
    text-decoration: none;
}