.GridContainer {
  width: 100%;
  //   border: 10px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  height: fit-content !important;
}

.Card {
  width: 18%;
  height: auto;
  margin: 10px;
}

.cardBox {
  float: left;
  font-size: 1.2em;
  margin: 10px 0 0 10px;
  perspective: 800px;
  transition: all 0.3s ease 0s;
  width: 200px;
  overflow: hidden;

  // box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.38);
}

input {
  border: 1px solid transparent;
}

.AlertBox {
  margin-top: 20px;
  width: 80%;
  height: auto;
  padding: 20px;
  background-color: rgb(224, 2, 2);
  color: white;
}

.cardBox:hover .card {
  transform: rotateY(180deg);
}

//   .card {
//     background: #222;
//     cursor: default;
//     height: 300px;
//     transform-style: preserve-3d;
//     transition: transform 0.4s ease 0s;
//     width: 100%;
//     -webkit-animation: giro 1s 1;
//     animation: giro 1s 1;
//   }

.card {
  background: #222;
  cursor: default;
  height: 175px;
  transform-style: preserve-3d;
  transition: transform 0.4s ease 0s;
  width: 100%;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin-bottom: 1.8em;
  }

  .front {
    backface-visibility: hidden;
    box-sizing: border-box;
    color: white;
    display: block;
    font-size: 1.2em;
    height: auto;

    // padding: 0.8em;
    position: absolute;
    text-align: center;
    width: 100%;
  }

  .back {
    backface-visibility: hidden;
    box-sizing: border-box;
    color: white;
    display: block;
    font-size: 1.2em;
    height: auto;
    justify-content: space-between;
    // padding: 0.8em;
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 0.8em;
  }
}

.GameLaunchDiv{
  background-color: rgba(0, 0, 0, 0.815);
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 50;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  }
  .ButtonTag{
    position: fixed;
    top:0px;
    right: 0px;
  }
  .GameLaunchFrame{
    vertical-align: middle;
    width: 80%;
    margin: auto;
    left: 0px;
    right: 0px;
    // min-height:500px;
    // margin-top: 100px;
    background-color: black;
    height: 100%;
  }

.buttonTag {
  margin-left: 5px;
  margin-right: 5px;
}
.disabled{
  background-color: rgb(167, 167, 167) !important;
  color: black !important;
  border: 1px solid white;
}

img {
  width: 100%;
  object-fit: cover;
  margin: auto;
  left: 0%;
  right: 0%;
}

.card {
  .front strong {
    background: #fff;
    border-radius: 100%;
    color: #222;
    font-size: 1.5em;
    line-height: 30px;
    padding: 0 7px 4px 6px;
  }

  .back {
    transform: rotateY(180deg);

    a {
      padding: 0.3em 0.5em;
      background: #333;
      color: #fff;
      text-decoration: none;
      border-radius: 1px;
      font-size: 0.9em;
      transition: all 0.2s ease 0s;

      &:hover {
        background: #fff;
        color: #333;
        text-shadow: 0 0 1px #333;
      }
    }
  }
}

.cardBox {
  &:nth-child(2) .card {
    -webkit-animation: giro 1.5s 1;
    animation: giro 1.5s 1;
  }

  &:nth-child(3) .card {
    -webkit-animation: giro 2s 1;
    animation: giro 2s 1;
  }

  &:nth-child(4) .card {
    -webkit-animation: giro 2.5s 1;
    animation: giro 2.5s 1;
  }
}

.FavouriteButton {
  background-color: transparent;
  color: white;
  font-size: 16px;
}

@-webkit-keyframes giro {
  from {
    transform: rotateY(180deg);
  }

  to {
    transform: rotateY(0deg);
  }
}

@keyframes giro {
  from {
    transform: rotateY(180deg);
  }

  to {
    transform: rotateY(0deg);
  }
}
@media screen and (max-width: 1020px) {
  .SideBar {
    display: none !important;
    visibility: hidden !important;
  }
  .cardBox {
    margin-left: 2.8%;
    margin-top: 3%;
    width: 25%;
  }

  .card {
    height: 175px;
  }

  .cardBox:last-child {
    margin-bottom: 3%;
  }
}
@media screen and (max-width: 830px) {
  .cardBox {
    margin-left: 2.8%;
    margin-top: 3%;
    width: 30%;
  }

  .card {
    height: 150px;
  }

  .cardBox:last-child {
    margin-bottom: 3%;
  }
}

@media screen and (max-width: 730px) {
  .SideBar {
    display: none;
    visibility: hidden;
  }
  .cardBox {
    margin-left: 2.8%;
    margin-top: 3%;
    width: 45%;
  }
  .GridContainer{
    width: 100%;
  }

  .card {
    height: 175px;
  }

  .cardBox:last-child {
    margin-bottom: 3%;
  }
}

@media screen and (max-width: 480px) {
  .SideBar {
    display: none;
    visibility: hidden;
  }

  .cardBox {
    width: 94.5%;
  }
  .card{
    height: 200px;
  }

  
}
